<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="de.rwth.swe.calendar"
    version="1.0">

    <name>Calendar</name>
    <author>SWE Gruppe14</author>

	<js-module src="www/Calendar.js" name="Calendar">
        <clobbers target="calendar" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
           <feature name="Calendar">
              <param name="android-package" value="de.rwth.swe.calendar.Calendar"/>
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<!--uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" /-->
			<uses-permission android:name="android.permission.READ_CALENDAR"/>
			<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
        </config-file>
		
        <source-file src="src/android/Calendar.java" target-dir="src/de/rwth/swe/calendar" />
    </platform>
    
	<!-- Windows Phone 8  -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
	   <feature name="Calendar">
	      <param name="wp-package" value="Calendar"/>
	    </feature>
	</config-file>
		<source-file src="src/wp/Calendar.cs" />
	</platform>
	
	<!-- iOS  -->
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CalendarPlugin">
                <param name="ios-package" value="CalendarPlugin"/>
            </feature>
        </config-file>

        <js-module src="www/Calendar.js" name="Calendar">
            <clobbers target="calendar" />
        </js-module>

        <header-file src="src/ios/CalendarPlugin.h" />
        <source-file src="src/ios/CalendarPlugin.m" />

    </platform>
	
</plugin>
