<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.example.hello"
    version="0.9.2">

    <name>HelloWorld</name>
    <author>Pierre Wolff</author>

	<js-module src="www/HelloWorld.js" name="HelloWorld">
        <clobbers target="sayhello" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
           <feature name="HelloWorld">
              <param name="android-package" value="com.example.hello.HelloWorldPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/HelloWorldPlugin.java"
                target-dir="src/com/example/hello" />
    </platform>
</plugin>
